#subtitle{
    font-size: 2em;
    color:rgb(186, 29, 29);
    margin: 10px;
}

#bodyContent{
    margin:10px;
    font-size: large;
}

#TitleBox
{
    color:rgb(139, 14, 14);
    font-size: 2em; 
    display:flex;
    align-content: center;  
    justify-content: center;
    margin:0;
    background-image: url('../assets/fleetFight.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}