.navbar{
    display:flex;
    justify-content: space-between;
    /*background-image: url("../assets/Stock_Space.jpg");
    background-image: url('../assets/Retro.jpg');
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgb(27, 27, 59); 
    height: 5.5vh;
    
}

.nav-link:hover{
    background-color: rgb(72, 72, 165); 
}

.nav-link{
    font-family: 'Kode Mono', monospace;
    font-size: 1.2em;
    color:rgb(0, 98, 255);
    padding: 10px;   
    border-radius: 3px;
    text-decoration: none;
}

.navbar-links{
    display: flex;
    margin-left:15px;
    justify-content: center;
    align-items: center;
}

