.navbar{
    display:flex;
    justify-content: space-between;
    background-color: rgb(27, 27, 59); 
    height: auto;
}

.navLink:hover{
    background-color: rgb(72, 72, 165); 
    color: rgb(175, 175, 175);
}

.navLink, .navDemo{
    font-family: 'Kode Mono', monospace;
    font-size: 1.2em;
    color:rgb(0, 98, 255);
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    border-right: 1px solid rgb(54, 54, 54);
}

.navDemo{
    border-left: 1px solid rgb(54, 54, 54);
}

.navDemo:hover{
    background-color: rgb(72, 72, 165); 
    color: rgb(175, 175, 175);
}

.navbarLinks{
    display: flex;
    justify-content: center;
    align-items: center;
}

