.pBodyBox{
    text-align: left;
    margin: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pBodyText{
    color: rgb(214, 214, 214);
    margin:10px;
    font-size: 1.4em;
    font-family: 'Kode Mono', monospace;
    text-align: left;
}

.progressBox
{
    height:150px;
    display:flex;
    align-items: center;  
    justify-content: center;
    margin:0;
    background-image: url('../assets/Stock_Space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.progressTitle
{
    font-size: clamp(3em, 10vw, 4em);
    color:rgb(186, 29, 29);
    font-family: 'Inria Serif', serif;
    text-align: center;
}

.nameHighlight{
    color:rgb(186, 29, 29);
    font-weight: bold;
}

.boldText{
    font-weight: bold;
    color: #17ce17;
}